<div class="container  border border-success">
    <div class="row mt-3">
        {% if post.user|cut:" " == user.get_username|cut:" " %}
            <h6>vous avez publié une critique le {{post.time_created}} </h6>
        {% else %}
            <h6>{{ post.user }} a publié une critique le {{post.time_created}}</h6>
        {% endif %}
        <div class="row">
            <div class="col">
                <div>{{ post.headline }}</div>
            </div>
            <div class="col">
                {% include 'rating.html' %}
            </div>
        </div>
        <div>{{ post.body }}</div>
        {% if post.ticket.user|cut:" " == user.get_username|cut:" " %}
            <h6>Ticket - vous</h6>
        {% else %}
            <h6>Ticket ouvert par {{ post.ticket.user }} le {{post.ticket.time_created}}</h6>
        {% endif %}
        <div>{{ post.ticket.title }}</div>
        {% if post.ticket.image_url %}
            <div style="width: 150px">
                <img src="{{ post.ticket.image_url|default_if_none:'#' }}" style="width: 100%">
            </div>
        {% endif %}
    </div>
    <div class="row mt-3">
    </div>
</div>