<div class="container border border-success">
    <div class="row mt-4">
        {% if post.user|cut:" " == user.get_username|cut:" " %}
            <h6>Ticket ouvert par vous le {{post.time_created}} </h6>
        {% else %}
            <h6>Ticket ouvert par {{ post.user }} le {{post.time_created}} </h6>
        {% endif %}
        <div>{{ post.title}}</div>
        <div>{{ post.description}}</div>
        <div style="width: 150px">
            <img src="{{ post.image_url|default_if_none:'#' }}" style="width: 100%">
        </div>
    <div>
    <div class="row mt-4">
        <div class="col-4">
            <a class="btn btn-success" href="{% url 'create_review' post.id %}">
               {{ update }}
            </a>
        </div>
    </div>
</div>