<div class="container">
  <div class="row">
    <div class="col-4">
        {% if posts.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-center">
          {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
          {% else %}
            <li class="disabled">
              <a class="page-link">Previous</a>
            </li>
          {% endif %}
          {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
              <li class="active">
                <a class="page-link">{{ i }}
                  <span class="sr-only"></span>
                </a>
              </li>
            {% else %}
              <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if posts.has_next %}
            <li><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
          {% else %}
            <li class="disabled">
              <a class="page-link">Next</a>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>