<h6>vous avez publié une critique le {{post.time_created}}</h6>
<div>{{ post.headline }}</div>
{% include 'rating.html' %}
<div>{{ post.rating }}</div>
<div>{{ post.body }}</div>
{% if post.ticket.user == post.user %}
    <h6>Ticket - vous</h6>
{% else %}
    <h6>Ticket ouvert par {{ post.ticket.user }}</h6>
{% endif %}
<div>{{ post.ticket.title }}</div>
<div style="width: 150px">
    <img src="{{ post.ticket.image.url }}" style="width: 100%">
</div>
<form action="{% url 'delete_abonnements' post.id %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-success">Modifier</button>
</form>
<form onsubmit="return confirm('Etes-vous sûr?');" action="{% url 'delete_abonnements' post.id %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-warning">Supprimer</button>
</form>