<div class="container border border-success">
    <div class="row mt-3">
        <h6>Vous avez publié un ticket</h6>
        <div>{{ post.title}}</div>
        <div>{{ post.description}}</div>
        {% if post.image_url %}
            <div style="width: 150px">
                <img src="{{ post.image_url|default_if_none:'#' }}" style="width: 100%">
            </div>
        {% endif %}
    <div>
    <div class="row mt-3">
        <div class="col-2">
            <a class="btn btn-success" href="{% url 'edit_ticket' post.id %}">
               Modifier
            </a>
        </div>
        <div class="col-2">
            <form onsubmit="return confirm('Etes-vous sûr?');" action="{% url 'delete_ticket' post.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-warning">Supprimer</button>
            </form>
        </div>
    </div>
</div>