{% extends 'base.html' %}
{% block content %}
    <h2>{{ title01 }}</h2>
    {% if messages %}
        {% for message in messages %}
            <p> {{ message }} </p>
        {% endfor%}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value={{ action01 }}>
    </form>
    <h2>{{ title02 }}</h2>
    {% if follows %}
        {% for follow in follows %}
             <div>
               {{ follow.followed_user}}
             </div>
        {% endfor ´%}
    {% endif %}
    <h2>{{ title03 }}</h2>
    {% if followers %}
        {% for follower in followers %}
             <div>
               {{ follower.user}}
             </div>
        {% endfor ´%}
    {% endif %}
{% endblock content %}