{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Suivre d'autres utilisateurs</h2>
    {% include 'messages.html' %}
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-2">
                    {{form.as_p}}
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-success" value="envoyer">
                </div>
            </div>
        </div>
    </form>
    <h2>Abonnements</h2>
    {% if follows %}
        {% for follow in follows %}
             <div class="container">
                 <div class="row">
                     <div class="col-1 border h-50">
                         {{ follow.followed_user|cut:" "}}
                     </div>
                     <div class="col-2 h-50">
                         <form onsubmit="return confirm('Etes-vous sûr?');" action="{% url 'delete_abonnements' follow.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-warning">Désabonner</button>
                        </form>
                     </div>
                 </div>
             </div>
        {% endfor ´%}
    {% endif %}
    <h2>Abonnés</h2>
    {% if followers %}
        {% for follower in followers %}
        <div class="container">
             <div class="row">
                 <div class="col-1 border">
                   {{ follower.user|cut:" "}}
                 </div>
             </div>
         </div>
        {% endfor ´%}
    {% endif %}
</div>
{% endblock content %}