{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>{{ title }}</h2>
    {% include 'messages.html' %}
    <div class="row">
        <div class="col-4">
            <form enctype="multipart/form-data" method="POST">
            <h5>{{ sub_title01 }}</h5>
            {% csrf_token %}
            {{form01.as_p}}
            <h5>{{ sub_title02 }}</h5>
            {{form02.as_p}}
            <input type="submit" value={{ action }}>
            </form>
        </div>
    </div>
</div>
{% endblock content %}