{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="align-middle">{{ title }}</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a class="btn btn-success" href="{% url 'create_ticket' %}">
                    <i class="bi bi-envelope-open"></i>
                    {{ ask }}
                </a>
            </div>
            <div class="col-2">
                <a class="btn btn-success" href="{% url 'create_own_review' %}">
                    <i class="bi bi-lightning"></i>
                    {{ create }}
                </a>
            </div>
        </div>
    </div>
{% include 'detail_flux.html' %}
{% endblock content %}