/* Style page content */
.main {
    margin-left: 240px; /* Same as the width of the sidebar */
    padding: 20px;
}

form > p {
        display : flex;
        flex-direction: column;
}

#id_pseudo, #id_password1, #id_password2, #id_followed_user{
    width: 6%;
}

#id_followed_name{
    width: 50%;
}

#id_username, #id_password{
    width: 20%;
}

#id_email,#id_title ,#id_description {
    width: 25%;
}
#id_rev_description, #id_rev_body {
    height: 120px;
}
.inline {
    display: flex;
    margin: 0 20px 0 20px;
}
inline > label {
    position:relative; left:50px;
}
input[type="checkbox"] {
    width:50px;
}